
version: "3"

volumes:
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      type: none
      device: ~/Desktop/fadermou/data/mariadb
  nginx:
    name: nginx
    driver: local
    driver_opts:
      type: none
      device: ~/Desktop/fadermou/data/nginx
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      device: ~/Desktop/fadermou/data/wordpress

networks:
  inception:
    name: inception
    driver_opts:
      type: bridge

services:
  nginx:
    build: requirements/nginx/
    container_name: nginx
    depends_on:
      - wordpress
    ports:
      - "443:443"
    restart: always
    volumes:
      - ~/Desktop/fadermou/data/wordpress:/var/www/html
    networks:
      - inception
  mariadb:
    container_name: mariadb
    build: requirements/mariadb/
    env_file:
      - .env
    volumes:
      - /var/lib/mysql
    networks:
      - inception
    restart: always
  wordpress:
    build: requirements/wordpress/
    container_name: wordpress
    depends_on:
      - mariadb
    restart: always
    env_file:
      - .env
    networks:
      - inception
    volumes:
      - ~/Desktop/fadermou/data/wordpress:/var/www/html

# networks:
#   name:
#     inception


  #### -> networks are needed