
version: "3.8"


networks:
  inception:
    name: inception
    driver_opts:
      type: bridge

services:
  nginx:
    build: requirements/nginx/
    container_name: nginx
    depends_on:
      - wordpress
    ports:
      - "443:443"
    restart: always
    volumes:
      - wordpress:/var/www/html
    networks:
      - inception
  mariadb:
    container_name: mariadb
    build: requirements/mariadb/
    env_file:
      - .env
    volumes:
      - /var/lib/mysql
    networks:
      - inception
    restart: always
  wordpress:
    build: requirements/wordpress/
    container_name: wordpress
    depends_on:
      - mariadb
    restart: always
    env_file:
      - .env
    networks:
      - inception
    volumes:
      - wordpress:/var/www/html
  portainer:
    container_name: portainer
    build: bonus/portainer/
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock ####
    ports:
      - 9000:9000
    networks:
      - inception
  portfolio:
    container_name: portfolio
    build: bonus/portfolio/
    restart: always
    volumes:
      - portfolio:/var/www/html ####change the first path later *
    ports:
      - 8080:8080 ####what's difference between each one 
    networks:
      - inception

volumes:
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      type: none
      device: /home/fadermou/data/mariadb
  # nginx:
  #   name: nginx
  #   driver: local
  #   driver_opts:
  #     type: none
  #     device: /home/fadermou/data/nginx
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      device: /home/fadermou/data/wordpress
      o: bind
  # portainer:
  #   name: portainer
  #   driver: local
  #   driver_opts:
  #     type: none
  #     device: /home/fadermou/data/portainer ####change this path later *
  portfolio:
    name: portfolio
    driver: local
    driver_opts:
      type: none
      device: /home/fadermou/data/portfolio
      o: bind

# networks:
#   name:
#     inception


  #### -> networks are needed